<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu" id="menuIcon"></ion-icon>
    </button>
  </ion-navbar>
</ion-header>

<ion-content>
  <img class="loginLogo" src="./assets/img/logo.png">
  <form *ngIf="!codeSent" class="beerForm" (submit)="sentCode()">
    <ion-list>
      <ion-item class="bordered" id="numberPhone">
        <ion-label no-padding>+7</ion-label>
        <ion-input mask="(999) 999-9999" no-padding type="tel" [(ngModel)]="phone" name="phone"
                   text-left placeholder="введите телефон" required></ion-input>
      </ion-item>
      <!--<div padding class="standard-font">Код будет отправлен на адрес электронной почты указанный вами при регистрации</div>-->
      <div>
        <button class="enterButton" ion-button color="white" block>Отправить код на email</button>
      </div>
    </ion-list>
  </form>

  <form *ngIf="codeSent" class="beerForm" (submit)="resetPassword()">
    <ion-list>
      <ion-item class="bordered" id="resetCode">
        <ion-label no-padding>Код из письма</ion-label>
        <ion-input no-padding [(ngModel)]="codeEntered" name="code"
                   text-left placeholder="введите код"></ion-input>
      </ion-item>

      <ion-item class="bordered" id="password">
        <ion-label no-padding>Новый пароль</ion-label>
        <ion-input no-padding [(ngModel)]="password" name="password"
                   text-left placeholder="введите пароль"></ion-input>
      </ion-item>

      <div>
        <button class="enterButton" ion-button color="white" block>Сменить пароль</button>
      </div>
    </ion-list>
  </form>

  <div padding *ngIf="tryTimeoutId">
    Код отправлен на почту <b>{{email}}</b>.<br/><br/>
    Через <b>{{tryTimeoutCountdownSeconds}}</b> секунд вы сможете отправить код повторно.
  </div>

  <div padding *ngIf="!tryTimeoutId && codeSent">
    <a (click)="giveNextTry()" href="#">Отправить код еще раз</a>
  </div>

</ion-content>
