page-password-recovery {
  .loginLogo {
    display: block;
    margin: 0 auto;
    width: 90%;
    margin-top: 10px;
  }

  ion-label{
    text-overflow: inherit;
    white-space: pre-wrap;
  }

  .beerForm {
    width: 100%;
    //position: absolute;
    //bottom: 50px;

    ion-item {
      margin: 0 auto;
      background: none;
      padding: 0;

      .item-inner{
        border-bottom: 2px solid rgba(20, 20, 20, 0.9) !important;
      }

      ion-input input {
        margin-left: 0;
        margin-right: 0;
        width: 100%;
      }
    }


    ion-item.checkboxable .item-inner //not typo
    {
      border-bottom: 0;
      ion-label{
        font-size: 16px;
      }
    }

    a.rules{
      font-size: 16px;
      font-weight: bold;
      display: block;
      padding-left: 81px;

      .item-inner{
        border-bottom: 0;
      }

      ion-label{
        margin: 0
      }
    }
  }

  .text-input-md {
    //font-size: 24px;
    color: #141414;
    text-transform: uppercase;
    border-bottom: 0;
    outline: 0;
  }

  .enterButton {
    box-sizing: border-box;
    border-radius: 5px;
    margin: 20px auto 0;
    //margin-top: 20%;
    font-weight: normal;
    text-align: center;
  }

  .item-md.item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner, .item-md.item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner{
    border-bottom: 0;
    box-shadow: none;
  }

  @media screen and (min-width: 320px){
    .beerForm ion-item {
      width: 260px;
    }

    .label,
    .text-input {
      //font-size: 28px;
    }

    .text-input::placeholder {
      //font-size: 15px;
    }

    .button-inner {
      //font-size: 20px;
    }

    .enterButton {
      display: block;
      width: 290px;
      padding: 25px;
    }
  }

  @media screen and (min-width: 375px){
    .beerForm ion-item {
      width: 295px;
    }

    .label,
    .text-input {
      //font-size: 28px;
    }

    .text-input::placeholder {
      //font-size: 26px;
    }

    .button-inner {
      //font-size: 23px;
    }

    .enterButton {
      width: 320px;
      padding: 30px;
    }
  }

  @media screen and (min-width: 414px){
    .beerForm ion-item {
      width: 320px;
    }

    .label,
    .text-input {
      //font-size: 32px;
    }

    .text-input::placeholder {
      //font-size: 18px;
    }

    .button-inner {
      //font-size: 23px;
    }

    .enterButton {
      width: 360px;
      padding: 30px;
    }
  }

  @media screen and (min-width: 768px){
    .beerForm ion-item {
      width: 480px;
    }

    .label,
    .text-input {
      //font-size: 48px;
    }

    .text-input::placeholder {
      //font-size: 28px;
    }

    .button-inner {
      //font-size: 44px;
    }

    .enterButton {
      width: 500px;
      padding: 45px;
    }
  }

  @media screen and (min-width: 1300px){
    .beerForm ion-item {
      width: 480px;
    }

    .label,
    .text-input {
      //font-size: 48px;
    }

    .text-input::placeholder {
      //font-size: 28px;
    }

    .button-inner {
      //font-size: 35px;
    }

    .enterButton {
      width: 500px;
      padding: 30px;
    }
  }
}
