page-item-details {
  button {
    .back-button-icon, .back-button-text {
      color: #000;
    }
  }

  ion-content.content{
    background: #ffffff;
  }

  ion-card{
    height: 96%;
  }

  ion-card.card{
    box-shadow: none;

    ion-card-title.card-title{
      font-size: 24px;
    }
  }
}
