page-adminka {
  .bg_select {
    min-height: 200px;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .bg_select_1{
    background-image: url("../assets/img/bg1.png");
  }

  .bg_select_2{
    background-image: url("../assets/img/bg2.png");
  }

  .bg_select_3{
    background-image: url("../assets/img/bg3.png");
  }
}
