article-single {
  ion-card.card{
    margin-left: 0;
    margin-right: 0;
    width: 100%;
  }
  /*
  .text-preview{
    text-overflow: ellipsis;
    overflow: hidden;
    max-height: 55px;
  }
  */
}
